.cardsSection
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards
{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100vw;
}