@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

.listaNav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    width: 35vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.img {
    width: 200px;
    margin-left: 10px;
    height: 150px;
}