.lancamentos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.container img{
    width: 418px;
    height: 418px;
}

.Kits
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.Kits img
{
    width: 130px;
    height: 130px;
}

.texto 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 477px;
    height: 419px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    gap: 15px;
    padding-left: 15px;
}

.texto img 
{
    width: 110px;
    height: 35px;
}
.cor 
{
    gap: 10px;
}

.cor button
{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.cor button:hover
{
    transform: scale(1.1);
}

.azul{
    background-color:#B1B0D8 ;
}

.vermelho{
    background-color: #E1342A;
}

.marrom{
    background-color: #73282D;
}

.base{
    background-color: #DE755E;
}

p
{
    font-size: 16px;
}

h2
{
    font-size: 24px;
}

*{
    margin: 0;
    padding: 0;
}